{% include "layout/header" %}
</BR>
</BR>
<div class="ui two column centered grid">
    <div class="column">
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
             Sorry
            </div>
            <p>Kann es sein dass du versuchst den Workflow zu umgehen? Geh bitte auf die Startseite und logge dich erneut ein.
          </p></div>
    </div>
  </div>



{% include "layout/footer" %}